.parcours {
    min-height: 100vh;
    background-color:  #222a30;
    text-align: left;

    .parcours-title {
        text-align: center;
        font-weight: 900;
        padding: 1rem 0 0 0;
    }

    .vertical-timeline-element-content {

        .vertical-timeline-element-location {
            font-weight: 400;
            margin: 0;
        }

        &-text {
            padding-bottom: 1rem;
        }

        .work-highlight-container {
            display: flex;
            flex-direction: row;
            justify-content: start;
            flex-wrap: wrap;
            .work-highlight {
                background-color: #2c3e50;
                padding: 0.5em;
                margin: 0.5em;
                border-radius: 0.3em;
                color: #fff;
                width: fit-content;
            }
        }

        .read-more {
            cursor: pointer;
            font-weight: bold;
            text-decoration: underline;
            padding: 0.5em;
        }
    }

}