.contact__infos__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .card__linkedin {
        background-color: rgb(33, 150, 243);
        transition: background-color 0.3s ease-in-out;

        &:hover {
            .contact__infos__cards__card__button-text {
                color: rgb(33, 150, 243);
            }
        }
    }

    .card__email {
        background-color: rgb(255, 152, 0);
        transition: background-color 0.3s ease-in-out;

        &:hover {
            .contact__infos__cards__card__button-text {
                color: rgb(255, 152, 0);
            }
        }
    }

    .card__github {
        background-color: rgb(233, 30, 99);
        transition: background-color 0.3s ease-in-out;

        &:hover {
            .contact__infos__cards__card__button-text {
                color: rgb(233, 30, 99);
            }
        }
    }

    .card__phone {
        background-color: rgb(65, 150, 68);
        transition: background-color 0.3s ease-in-out;

        &:hover {
            .contact__infos__cards__card__button-text {
                color: rgb(65, 150, 68);
            }
        }
    }

    &__card {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        height: 10rem;
        width: 25%;
        background-color: #42647e;
        color: #f0f8ff;
        padding-bottom: 1rem;
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
            cursor: pointer;

            .contact__infos__cards__card__image {
                transform: scale(1.1);
                transition: all 0.3s ease-in-out;
            }
            .contact__infos__cards__card__button-text {
                background-color: white;
                transition: all 0.3s ease-in-out;
            }
        }

        p {
            margin: 0;
        }

        &__button-text {
            font-weight: bold;
            font-size: 1rem;
            margin: 0;
            border: 2px solid white;
            padding: 0.3rem 0.5rem;
            margin-bottom: 0.5rem;
            border-radius: 1rem;
        }

        &__image {
            width: 5rem;
            margin-top: 0.5rem;
        }
    }

    @media (max-width: 1200px) {
        .contact__infos__cards__card {
            width: 50vw;
        }
    }

    @media (max-width: 700px) {
        .contact__infos__cards__card {
            width: 100vw;
        }
    }
}