.home {
    background-color:  #222a30;
    color: #f0f8ff;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        font-size: 7rem;
    }

    &__subtitle {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    &__content {
        margin: 0 auto;
        text-align: justify;
        line-height: 30px;
        padding: 0 1rem;
    }
}