.home {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;

    &__title {
        font-size: 7rem;
    }

    &__subtitle {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    &__content {
        margin: 0 auto;
        max-width: 880px;
        text-align: left;
    }
}