.contact {
    background-color: #f0f8ff;
    color: #222a30;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact__picture {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__text {
            font-weight: bold;
            font-size: 1.5rem;
            margin: 0;
        }

        &__image {
            max-width: 200px;
            border-radius: 50%;
            border: 5px solid #42647e;
        }
    }
}
