.navbar {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;

    border-bottom: 1px solid white;
    
    &__left {
        font-weight: bold;
        font-size: 1.5rem;
    }

    &__right {
        a {
            padding-left: 1rem;
        }
    }
}
