.realisations {
    min-height: 100vh;
    background-color: #f0f8ff;
    color: #222a30;

    h2 {
        font-size: 4rem;
        margin-top: 0;
        padding: 2rem;
        text-align: start;
    }
}