.contact {
    .contact__carousel {
        &__card {
            img {
                border-radius: 50%;
                width: 100px;
                margin-bottom: -2rem;
                border: 5px solid #42647e;
                position: relative;
                z-index: 1;

                &::before {
                    content: "👍";
                    position: absolute;
                    width: 100%;
                }
            }

            &__container {
                height: 100%;
                padding: 3rem 10%;
                background-color: white;
                border: #5f5e5e 1px solid;
                border-radius: 1rem;
                margin: 0 3rem;
                display: flex;
                flex-direction: column;
                min-height: 23rem;

                &__name {
                    font-weight: bold;
                    font-size: 1.5rem;
                }

                &__position {
                    font-style: italic;
                    color: #5f5e5e;
                }
                &__text {
                    margin: auto 0;
                    position: relative;
                    &::before,&::after {
                        position: absolute;
                        font-size: 3rem;
                        color: #42647e;
                        height: 40px;
                    }
                    &::before {
                        content: open-quote;
                        top: -2rem;
                        left: -2rem;
                    }
                    &::after {
                        content: close-quote;
                        bottom: -2rem;
                        right: -2rem;
                    }
                }
            }
        }
    }
}